################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Algorithmskk/.vs/Algorithmskk/v16/ipch/AutoPCH/ed03e5298e39d9f4
/Algorithmskk/.vs/Algorithmskk/v16/Browse.VC.opendb
/Algorithmskk/.vs/Algorithmskk/v16/Browse.VC.db-wal
/Algorithmskk/.vs/Algorithmskk/v16/Browse.VC.db-shm
/Algorithmskk/.vs/Algorithmskk/v16/Browse.VC.db
/Algorithmskk/.vs/Algorithmskk/v16/.suo
/Algorithmskk/Algorithmskk/Debug
/Algorithmskk/Debug
/Algorithmskk/Algorithmskk/Algorithmskk.vcxproj.filters
/Algorithmskk/Algorithmskk/Algorithmskk.vcxproj
