################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Algorithmskk/.vs/Algorithmskk/v16/ipch/AutoPCH/ed03e5298e39d9f4
